<%= render("layouts/errors", :object => @post) %>

<%= form_for @post do |f| %>
  <div class="form-group">
    <div class="col-md-6">
      <%= f.text_field :header, class: "form-control", placeholder: "Header" %>
    </div>
  </div><br><br><br>

  <div class="form-group">
    <div class="col-md-9">
      <%= f.text_area :content, size: "15x15", class: "form-control", placeholder: "Your post here..." %>
    </div>
  </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <div class="form-group" id="submit">
    <%= f.submit(:class => "btn btn-primary") %>
  </div>
<% end %>
